[Unit]
Description= autorun example service
After=systemd-modules-load.service
[Service]
ExecStart=/usr/local/bin/autorun_example.sh
Type=oneshot
RemainAfterExit=yes
[Install]
WantedBy=multi-user.target
